{% load static %}<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}{% if title %} - {% endif %}Function Words in Philippine Languages</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% if not is_nofollow %}
    <meta name="description" content="{{ description }}"/>
    <meta name="robots" content="follow, index, max-snippet:-1"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ title }}{% if title %} - {% endif %}Function Words in Philippine Languages"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="https://example.com{{ request.path }}"/>
    <meta property="og:image" content="https://example.com{% static 'rooster.png' %}"/>
    <link rel="canonical" href="https://example.com{{ request.path }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}{% if title %} - {% endif %}Function Words in Philippine Languages"/>
    <meta name="twitter:description" content="{{ description }}"/>
    <meta name="twitter:image" content="https://example.com{% static 'rooster.png' %}"/>
    {% else %}
    <meta name="robots" content="noindex, nofollow"/>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_base.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
    {% if is_search %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_search.css' %}"/>
    {% endif %}
    <script src="{% static 'functions.js' %}"></script>
  </head>
<body>
<header>
  <nav class="topnav" id="topnav">
    <a class="skip-link" href="#main" onclick="toggleBurger()" rel="nofollow">Skip to content</a>
    <a href="/">Home</a>
    <a href="/languages/">Languages</a>
    <a href="/categories/">Categories</a>
    <a href="/random-term" rel="nofollow">Random Term</a>
    <a href="/search" rel="nofollow">Search</a>
    <a href="javascript:void(0);" class="burger" onclick="toggleBurger(0)">&#9776;</a>
  </nav>
</header>
<main id="main">{% block content %}{% endblock %}</main>
</body>
</html>