{% extends "base.html" %}
{% load autolink %}
{% block title %} - {{ cat.displayname }}{% endblock %}
{% block content %}
<h1>{{ cat.displayname }}</h1>

{% if cat.parentnode %}
  <br/>
  <b>Categories:</b>&nbsp;
  {% for k, v in cat.displaylinks %}
    <a href="/category/{{ k }}">{{ v }}</a>
    {% if not forloop.last %}&gt;{% endif %}
  {% endfor %}
  <br/>
{% endif %}

{% if cat.info %}
  <br/>
  {{ cat.info|safe }}
  <br/>
{% endif %}

{% if refs %}
  <br/>
  <b>References:</b>
  <br/><br/>
  <ol>
    {% for ref in refs %}
      {% autolink ref.info as linked_info %}
      <li>{{ linked_info|safe }}</li>
    {% endfor %}
  </ol>
{% endif %}

{% if cat_children %}
  <br/>
  <b>Members:</b>
  <br/><br/>
  <ul>
    {% for cat_ch in cat_children %}
      <li>
        <a href="/category/{{ cat_ch.slug }}">{{ cat_ch.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if terms %}
  <br/>
  <b>Term Entries:</b>
  <br/><br/>
  <ul>
    {% for term in terms %}
      <li>
        <a href="/{{ term.language__slug }}">{{ term.language__displayname }}</a>:
        <a href="/{{ term.language__slug }}/{{ term.slug }}">{{ term.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}