{% extends "base.html" %}
{% block content %}
<h1>Categories</h1>
<br/>
<p>The terms for categories of function words may not be universally accepted. We think about this for days, and then decide for the terms we'll use. Again, different literature likely uses different terms. For instance, we chose the terms
<a href="/category/nominative">Nominative</a>, <a href="/category/genitive">Genitive</a>, and <a href="/category/oblique">Oblique</a> for the three <a href="/category/case">cases</a> commonly found in Philippine languages.</p>
<br/>
<b>Entries ({{ cats_ct }}):</b>
{% with page_obj=cats %}
  {% include 'pagination.html' %}
{% endwith %}
<ul>
  {% for cat in cats %}
    <li>
      <a href="/category/{{ cat.slug }}">{{ cat.displayname }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}