{% extends "base.html" %}
{% block content %}
<h1>Function Words in Philippine Languages</h1>
<br/>
<p>Function words are words that provide grammatical structure to a sentence, rather than being representations of objects or phenomena.
These are pronouns, case markers, affixes, conjunctions, particles, etc. This project aims to collect these words from over a hundred languages in the Philippines, to better see the similarities and differences among the languages.</p>
<br/>
<p>This is a simple side project for learning <a href="https://www.djangoproject.com/">Django</a> and Web development in general.
I don't want to put ads here; in case you want to support me on this goofy endeavor, I'll put my <a href="https://ko-fi.com/">Ko-fi</a> page later on if I continued working on this.</p>
<br/>
<h3>Conventions</h3>
<br/>
<ul class="long-li">
  <li>
    In many Philippine languages, stress on syllable can change the meaning of a word. The heading text in a term page will have diacritics if we have data on the pronunciation, following a modification of <i>Filipino Orthography</i>. These are usually not written, but will serve here as pronunciation guide.
    The acute marker (´) on a vowel indicates stress, which means it is uttered "more fully". The grave marker (`) on a vowel indicates a glottal stop after. For example, "uh oh" can be written in the described style as "ò ow". The circumflex marker (ˆ) is the combination of the previous two. All these markers may be anywhere in a word,
    unlike in Filipino orthography wherein these are usually only added on the last vowel. The dash in the middle of a word indicates either a glottal stop between a consonant and then a vowel, or two (or more) words compounded into one. The character ë will represent schwa, which is found in some Philippine languages.
    Lastly, consecutive vowels will always have a glottal stop between those, hence "òo" can be simplified to just "oo".
  </li>
  <li>
    In some languages, there could be consonants not in the English alphabet (e.g., ñ), diacritics beyond the ones defined above, or we'll not follow the consecutive vowels rule above (e.g., consecutive <i>different</i> vowels will have glide between those, instead). For these cases the orthography followed will be specified in the language page.
  </li>
  <li>
    The terms <a href="/category/nominative">Nominative</a>, <a href="/category/genitive">Genitive</a>, and <a href="/category/oblique">Oblique</a> are used for the three "cases" commonly found in Philippine languages. See the respective pages for details.
  </li>
</ul>
{% endblock %}