{% extends "base.html" %}
{% block content %}
<h1>Languages</h1>
<br/>
<p>Language classification generally follows <a href="https://glottolog.org">Glottolog</a>, except for some changes and additions; an instance would be the addition of the <a href="/philippine/">Philippine</a> grouping.</a></p>
<br/>
<b>Entries ({{ langs_ct }}):</b>
{% with page_obj=langs %}
  {% include 'pagination.html' %}
{% endwith %}
<ul>
  {% for lang in langs %}
    <li>
      <a href="/{{ lang.slug }}/">{{ lang.displayname }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}