{% extends "base.html" %}
{% block title %}{% block og_title %}Languages - {% endblock %}{% endblock %}
{% block specific_head %}
<meta name="description" content="Current list of languages."/>
<meta property="og:description" content="Current list of languages."/>
{% endblock %}
{% block content %}
<h1>Languages</h1>
<br/>
<b>Entries ({{ langs_ct }}):</b>
{% with page_obj=langs %}
  {% include 'pagination.html' %}
{% endwith %}
<ul>
  {% for lang in langs %}
    <li>
      <a href="/{{ lang.slug }}/">{{ lang.displayname }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}