{% extends "base.html" %}
{% load referencing %}
{% block content %}
<h1>{{ lang.displayname }}</h1>

{% if lang.parentnode %}
  <br/>
  <b>Group:</b>&nbsp;
  {% for k, v in lang.displaylinks %}
    <a href="/{{ k }}/">{{ v }}</a>
    {% if not forloop.last %}&gt;{% endif %}
  {% endfor %}
  <br/>
{% endif %}

{% if lang_on %}
  <br/>
  <b>Other names:</b>&nbsp;
  {% for oname in lang_on %}
    {{ oname.name }}{% if not forloop.last %},{% endif %}
  {% endfor %}
  <br/>
{% endif %}

{% if lang.info %}
  <br/>
  {% citelink lang.info refs as linked_info %}
  {{ linked_info|safe }}
  <br/>
{% endif %}

{% if lang.glottolog %}
  <br/>
  For more information and links, visit the corresponding <a href="https://glottolog.org/resource/languoid/id/{{ lang.glottolog }}">Glottolog</a> entry.
  <br/>
{% endif %}

{% if refs %}
  <br/>
  <b>References:</b>
  <br/><br/>
  <ol>
    {% for ref in refs %}
      {% autolink ref.info as linked_info %}
      <li id="ref-{{ forloop.counter }}">{{ linked_info|safe }}</li>
    {% endfor %}
  </ol>
{% endif %}

{% if lang_children %}
  <br/>
  <b>{% if lang.nodetype == 0 %}Dialects{% else %}Members{% endif %} ({{ langs_ct }}):</b>
  <br/><br/>
  <ul>
    {% for lang_ch in lang_children %}
      <li>
        <a href="/{{ lang_ch.slug }}/">{{ lang_ch.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if terms %}{% if lang.nodetype == 0 or lang.nodetype == 1 %}
  <br/>
  <b>Term Entries ({{ terms_ct }}):</b>
  {% with page_obj=terms %}
    {% include 'pagination.html' %}
  {% endwith %}
  <ul>
    {% for term in terms %}
      <li>
        <a href="/{{ lang.slug }}/{{ term.slug }}">{{ term.linkname }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}{% endif %}
{% endblock %}