{% extends "base.html" %}
{% load autolink %}
{% block title %}{% block og_title %}{{ lang.displayname }} - {% endblock %}{% endblock %}
{% block specific_head %}
<meta name="description" content="Some information about {{ lang.displayname }} language/dialect/language group."/>
<meta property="og:description" content="Some information about {{ lang.displayname }} language/dialect/language group."/>
{% endblock %}
{% block content %}
<h1>{{ lang.displayname }}</h1>

{% if lang.parentnode %}
  <br/>
  <b>Group:</b>&nbsp;
  {% for k, v in lang.displaylinks %}
    <a href="/{{ k }}">{{ v }}</a>
    {% if not forloop.last %}&gt;{% endif %}
  {% endfor %}
  <br/>
{% endif %}

{% if lang.info %}
  <br/>
  {{ lang.info|safe }}
  <br/>
{% endif %}

{% if refs %}
  <br/>
  <b>References:</b>
  <br/><br/>
  <ol>
    {% for ref in refs %}
      {% autolink ref.info as linked_info %}
      <li>{{ linked_info|safe }}</li>
    {% endfor %}
  </ol>
{% endif %}

{% if lang_children %}
  <br/>
  <b>{% if lang.nodetype == 0 %}Dialects{% else %}Members{% endif %} ({{ langs_ct }}):</b>
  <br/><br/>
  <ul>
    {% for lang_ch in lang_children %}
      <li>
        <a href="/{{ lang_ch.slug }}">{{ lang_ch.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if terms %}{% if lang.nodetype == 0 or lang.nodetype == 1 %}
  <br/>
  <b>Term Entries ({{ terms_ct }}):</b>
  {% with page_obj=terms %}
    {% include 'pagination.html' %}
  {% endwith %}
  <ul>
    {% for term in terms %}
      <li>
        <a href="/{{ lang.slug }}/{{ term.slug }}">{{ term.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}{% endif %}
{% endblock %}