{% extends "base.html" %}
{% load referencing %}
{% block title %}{% block og_title %}{{ term.name }} ({{ lang.displayname }}) - {% endblock %}{% endblock %}
{% block specific_head %}
<meta name="description" content="Some information about the word {{ term.name }} from the {{ lang.displayname }} language/dialect."/>
<meta property="og:description" content="Some information about the word {{ term.name }} from the {{ lang.displayname }} language/dialect."/>
{% endblock %}
{% block content %}
<a href="/{{ lang.slug }}/" class="lang-back">&lt;&lt; {{ lang.displayname }}</a>
<br/><br/>
<h1>{{ term.headername }}</h1>

<br/>
<b>Categories:</b>&nbsp;
{% for prop in props %}
  {% for k, v in prop.displaylinks %}
    <a href="/category/{{ k }}">{{ v }}</a>
    &gt;
  {% endfor %}
  <a href="/category/{{ prop.slug }}">{{ prop.name }}</a>
  {% if not forloop.last %},{% endif %}
{% endfor %}
<br/>

{% if term.info %}
  <br/>
  {% citelink term.info refs as linked_info %}
  {{ linked_info|safe }}
  <br/>
{% endif %}

</br/>
<b>References:</b>
<br/><br/>
<ol start="0">
  {% if lang.nodetype == 0 or lang.nodetype == 1 %}<li>{{ lang.displayname }} speakers</li>{% endif %}
  {% for ref in refs %}
    {% autolink ref.info as linked_info %}
    <li id="ref-{{ forloop.counter }}">{{ linked_info|safe }}</li>
  {% endfor %}
</ol>
{% endblock %}