{% extends "base.html" %}
{% load referencing %}
{% block content %}
<a href="/{{ lang.slug }}/" class="lang-back">&lt;&lt; {{ lang.displayname }}</a>
<br/><br/>
<h1>{{ term.name }}</h1>

<br/>
<b>Categories:</b>&nbsp;
{% for prop in props %}
  {% for k, v in prop.displaylinks %}
    <a href="/category/{{ k }}">{{ v }}</a>
    &gt;
  {% endfor %}
  <a href="/category/{{ prop.slug }}">{{ prop.name }}</a>
  {% if not forloop.last %},{% endif %}
{% endfor %}
<br/>

<br/>
<a href="{{ request.path }}/other">Other terms like this</a>
<br/>

{% if term.info %}
  <br/>
  {% citelink term.info refs as linked_info %}
  {{ linked_info|safe }}
  <br/>
{% endif %}

<br/>
<b>References:</b>
<br/><br/>
<ol start="0">
  {% if lang.nodetype == 0 or lang.nodetype == 1 %}<li>{{ lang.displayname }} speakers</li>{% endif %}
  {% for ref in refs %}
    {% autolink ref.info as linked_info %}
    <li id="ref-{{ forloop.counter }}">{{ linked_info|safe }}</li>
  {% endfor %}
</ol>
{% endblock %}