{% extends "base.html" %}
{% load set_disp_name autolink %}
{% block title %} - {{ term.name }}{% endblock %}
{% block content %}
{% lang_disp lang.displayname lang.name as lang_disp %}
<a href="/{{ lang.slug }}" class="lang-back">&lt;&lt; {{ lang_disp }}</a>
<br/><br/>
<h1>{{ term.name }}</h1>

<br/>
<b>Categories:</b>&nbsp;
{% for prop in props%}
  {% for k, v in prop.displaylinks %}
    <a href="/category/{{ k }}">{{ v }}</a>
    &gt;
  {% endfor %}
  <a href="/category/{{ prop.slug }}">{{ prop.name }}</a>
  {% if not forloop.last %},{% endif %}
{% endfor %}
<br/>

{% if term.info %}
  <br/>
  {{ term.info|safe }}
  <br/>
{% endif %}

</br/>
<b>References:</b>
<br/><br/>
<ol>
  {% if lang.nodetype == 0 or lang.nodetype == 1 %}<li>{{ lang_disp }} speakers</li>{% endif %}
  {% for ref in refs %}
    {% autolink ref.info as linked_info %}
    <li>{{ linked_info|safe }}</li>
  {% endfor %}
</ol>
{% endblock %}